@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Strike&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Arial bold', Helvetica, sans-serif;
    background-color: #c6f6ff;
}

p, li {
    line-height: 1.2em;
    font-size: 1.1em;
}

h1 {
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    color: #BEC3D5;
}

h1.main, h2 {
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    color: rgb(22, 22, 22);
}

h1.header {
    margin: 60px;
    margin-top: 1px;
    font-size: 7vb;
}

a {
    text-decoration: none;
    color: #BEC3D5;
}

a.main {
    color: rgb(22, 22, 22);
}

a.tutorials:hover {
    color: #91DB00;
}

a.homework:hover {
    color: #DB6300;
}

a.inspiration:hover {
    color: #00B9DB;
}

a.exercises:hover {
    color: #A600DB;
}

header {
    line-height: 5.5vb;
    padding-top: 1px;
    background-color: #235F6A;
    opacity: 80%;
}

main {
    padding: 10px;
    width: fit-content;
    margin: 60px;
    background-color: white;
}

.mainheadr {
    margin-top: 0px;
}