
* {
    box-sizing: border-box;
}
body {
    margin: 60px;
    font-family: 'Arial bold', Helvetica, sans-serif;
    background-color: darkslategray;
}
p, a, li {
    line-height: 1.2em;
    font-size: 1.1em;
}
h1, h2 {
    
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    color: #BEC3D5;
}