body {
    background-color: #f0f4ef;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 10px 15vw;
    background-color: #b4cded;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

nav {
    padding: 10px 15vw;
    text-align: center;
    background-color: black;
}

nav a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

footer {
     
    padding: 10px;
    background-color: #344966;
    color: white;
    text-align: center;
    margin: 0;
}

img {
    display: inline-block;
    width: 28%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 4%;
}